In [1]:
import sys
sys.path.append('../')

from src.metrics import revenue_by_category

print(revenue_by_category)

<function revenue_by_category at 0x000001A28874D940>

In [2]:
import pandas as pd

# Läs in datafilen
df = pd.read_csv("../data/ecommerce_sales.csv")

# Visa de första raderna för att bekräfta
df.head()

   order_id        date       city     category   price  units  revenue
0    100000  2024-04-19  Stockholm       Sports  530.95      4  2123.80
1    100001  2024-05-06      Malmö       Sports  653.28      3  1959.84
2    100002  2024-03-07    Uppsala     Clothing  177.98      4   711.92
3    100003  2024-04-08   Göteborg         Home  348.57      3  1045.71
4    100004  2024-01-18    Uppsala  Electronics  777.07      3  2331.21

In [3]:
revenue_dict = revenue_by_category(df)
revenue_dict

{'Beauty': 163053.97,
 'Clothing': 586744.91,
 'Electronics': 1364228.07,
 'Home': 511070.87,
 'Sports': 734653.42,
 'Toys': 143015.99}